/* contact-us img */
.contactusimg{
    background-image: url(../Contactus.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.contactusoverlay{
    height: 100%;
    width: 100%;
    background-color:black;
    opacity: .7;
}
.contactusimg h2{
    color: white;
    padding: 20% 0 0 10%;
}
/* contact-us main */
#contactusmain{
    background: #f8f9fa;
    height: fit-content;
}
.form{
    height: fit-content;
    background:  #6666ff;
    margin: 1rem;
}
.form h5{
    margin: 1rem;
    color: navy;
}
.form div{
   margin-top: 5%;
}
.form div input{
    width: 100%;
    margin-bottom: 3%;
   padding: 1.5%;
   border-radius: 10px;

}
textarea{
    border-radius: 10px;
    margin-bottom: 3%;
    padding:1.5%;
}
.submit{
    color: white;
    background-color: Navy;
}
.contactinfo h5{
    margin: 1rem;
    color: navy;
}