/* navbar */
.navbar-light .navbar-nav .nav-link{
    color: #6666ff;
    transition: 1s;
} 
.navbar-light .navbar-nav .nav-link:hover{
    font-size: 17px;
}
.nav-option{
    margin: 0 1rem;
    font-weight: bolder;
}
/* landing page */
.landing-page{
    height: 100vh; 
 }
  .one{
 background-image: url(../Images/j&j.jpg);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 background-size: cover; 
 }
 .two{
     background-image: url(../carousel.jpg);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 background-size: cover;
 }
 .three{
     background-image: url(../carosel\ \(2\).jpg);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 background-size: cover;     
 }
.welcome-msg {
    padding: 5% 0 0 5%;
}
.welcome-msg p{
    color: #6666ff;
    font-size: larger;
    
}
.welcome-msg h3{
    color: #6666ff;
}
.pre-welcome-msg{
    color:#6666ff;
    padding: 2% 0 0 5%;
}
.pre-welcome-msg div{
    margin-bottom: 1%;
}
.pre-welcome-msg div i{
    font-size: 2rem;
    color:navy;
}
.pre-welcome-msg div span{
    margin-left: 1%;
    font-size: normal;
}
.topbtn{
   background: navy ;
   border-color: navy;
   margin: 0.5rem 2rem 0 0;
   color:#cef9ce;
   padding: 10px 20px;
   font-weight: 700;
   box-shadow: 0px 10px 20px 0px rgba(white);
}
.topbtn:hover{
    color: #6666ff;
}

/* three boxes */

#threebox{
    background-color: #6666ff;
    padding: 4%;
}
.container{
    background-color: navy;
    color: #cef9ce;
    text-align: center;
    border-radius: 10px;
    padding: 2%;
}
.row div i{
    font-size: 5rem;
}
/* abt us intro */
#abtusintro {
    background-image: url(../Images/img\ \(6\).jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #f8f9fa;
    opacity: .8;
    padding-bottom: 2rem;
}
.mainabt{
    display: flex;
    /* height: 100vh; */
}
.mainabt div{
    flex: 1;
}
.img img{
    width:80%;
    margin-left: 05%;
    margin-top: 10%;
    background:navy ;
    padding: 5%;
    border-radius: 20px;
}
.abtcontent{
    margin-top: 8%;
    text-align: center;
    padding: 0 3%;
}
.abtcontent p{
    line-height: 2.5rem;
    font-weight: bold;
}
.abtcontent h4{
    font-weight: bold;
}
.abtcontent button{
    padding: 2% 4%;
    background-color: navy;
    font-size: large;
    font-weight: bold;
}
/* grid section */
.Mansorysec{
    display: flex;
    background-color: #6666ff;
    padding: 2%;
}
.gridphotocontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridphoto{
    display: grid;
    grid-template-columns:25% 20% 25%;
    /* text-align: center; */
    /* height: 60%; */
    /* margin: 5% 0 7% 5%; */
    /* margin-left: 4rem; */
    background-color: #6666ff;
    margin-left: 3rem !important;
    /* padding-bottom: 5%; */
    /* padding-bottom:2rem; */
    /* padding-top:2rem; */
    width: 90%;

}
.item:first-child{
    grid-column: 1 / span 2;
 }
 .item:nth-child(4){
   grid-column: 2/ span 2;

 }
 .item img{
     width: 100%;
     height: 100%;
     background-color:navy;
     padding: 1rem;
     border-radius: 8px;    
 }

 /* form */

 form{
     padding: 0.5rem 1.5rem;
     text-align: center;
    
 }
 form h4{
     font-size: 1.5rem;
     font-weight: bold;
     color: navy;
 }
 .formpg div input{
     padding: 1.2rem;
     margin: 10px;
 }
 #formmsg{
     padding-bottom: 2.6rem;
 }
 .form-btn{
     margin: auto;
     color: white;
     background: navy;
 }
 /* location */
 #location{
     background: #f8f9fa;
 }
 #location h4{
     color: navy;
     text-align: center;
     padding-top: 2%;
 }
 #location div div div p{
    text-align: center;
    margin-top: 4%;
    line-height: 2rem;
 }
 #map{
     height: 100%;
     width: 100%;
 }
/* carousel */
#kk{
    height: 50vh;
}
.caroselheading{
      color: navy;
     text-align: center;
     margin-bottom: 0%;
     background: #f8f9fa;
}
/* footer */
footer{
    height: 8%;
    background-color: #f8f9fa;
}
.footer-social a i{
    font-size: 2rem;
    text-decoration: .3s linear;
    color: navy;
    margin: 1.8rem 0.3rem;
}
.footer-social a:hover{
   opacity: .3;
}
.footer-social a h5{
    color:black;
    margin: 1.5rem 0;
    font-weight: bold;
}
.footer-social a h5:hover{
    opacity: .3;
}
.right-col h1{
    font-size: 26px;
    padding: 1rem 0;
}

.news-bx{

    padding: 20px 40px;
    font-size: 16px;
    color:white;
    background: navy;
     border:none;
    font-weight: 700;
    border-radius: 20px;
    width: 70%;
    margin: 1rem 0;
}
.news-bx:hover{
   opacity: .7;
}
.news-btn{
    padding: 20px 40px;
    font-size: 16px;
    color: white;
    background: navy;
     border:none;
    font-weight: 700;
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
}
.news-btn:hover{
    opacity: .6;
}
.testimg{
    max-width: 100%!important;
    max-height: 75vh ;
}
@media screen and (max-width:996px){
    .Mansorysec{
        flex-direction: column;
        align-items: center;
    } 

    .gridphoto{
        margin-left:15% !important;
        width: 100%;
    }
    #map{
        height: 50vh;
        width: 100%;
    }
   
}
@media screen and (max-width:650px){

    .pre-welcome-msg{
        display: none;
    }
    .welcome-msg {
        padding: 20% 0 0 5%;       
}

/* .gridphoto{
    grid-template-columns:33% 26% 33%;
} */
footer{
    text-align: center;
}
  .gridphoto{
    margin-left: 0rem !important;
  }
  .gridphotocontainer{
    display: none;
}
}
@media screen and (max-width:1118px){
    .news-btn{
        margin-bottom: 1.5rem;
    }
    .pre-welcome-msg{
        padding-top: 10%
    }
    .gridphoto{
        margin-left: 0rem !important;
      }
      
}